.Competences
{
    display: none;
}
.Competences h3
{
    margin: 0 16px;
    font-size: 1.625rem;
    
}
.Competences p
{
    color: #504535;
}
.Competences--p
{
    line-height: 1.7;
    margin: 10px 16px;
}
.Competences__X
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 16px 16px;
    padding: 16px 16px;
}
.Competences__X__header
{
    display: flex;
    margin-bottom: 20px;
    gap: 8px;
}
.Competences__X__header div
{
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}
.Competences__X__header div h4
{

    font-size: 1.125rem;
    margin: 0;

}
.Competences__X__header div p
{
    font-size: 0.813rem;
    margin: 0;
}
.Competences__X__header img
{
    order: -1;
    width: 32px;
}
.Competences__X__X
{
    box-sizing: border-box;
    background-color: #FFF1EB;
    width: 100%;
    border-radius: 10px;
    padding: 8px 8px;
    align-self: center;
}
.Competences__X__X--margine
{
    margin-top: 12px;
}
.Competences__X__X .head
{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    gap: 10px;
}
.Competences__X__X h5
{
    margin: 0;
}
.Competences__X__X .head h5
{
    margin:0;
    font-size: 0.875rem;
}
.Competences__X__X .head span
{
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 0;
    background-color: #FFDFAE;
    font-size: 0.75rem;
}
.Competences__X__X  p
{
    margin: 4px 0;
    line-height: 1.5;
}
#donnée,#skills
{
    display: grid;
    grid-template-columns: 40px 1fr;
}
#donnée h5,#skills h5
{
    align-self: center;
}
#donnée img,#skills img
{
    order: -1;
}
#donnée p,#skills p
{
    grid-row: 2/3;
    margin: 0;
    grid-column: 2/3;
}
#outil
{
    display: grid;
    grid-template-columns: 23px 1fr;
}
#outil img
{
    order: -1;
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
}
#outil p
{
    grid-row: 2/3;
    grid-column: 2/3;
}
.maitrise
{
     -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 10px;
    width: 100%;
    background-color: #F6DED3;
    border-radius: 25px;
}
.maitrise::-moz-progress-bar
{
    border-radius: 25px;
    background-color: #D99B27;
}
.maitrise::-webkit-progress-bar
{
    background-color: #F6DED3;
    border-radius: 25px;
}
.maitrise::-webkit-progress-value
{
    border-radius: 25px;
    background-color: #D99B27;
}
.maitrise::-moz

.Competences span, .Competences h2
{
    margin: 0 16px;
}
.Competences .Competences--span
{
    padding: 2px 10px;
    gap: 10px;
    border-radius: 25px;
    background-color: #FFDFAE;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 10px 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #281900;
    font-size: 0.75rem;
}
